//
//
// -------- Grays --------
$gray-900:        #fafbfc !default;
$gray-800:        #f6f8fa !default;
$gray-700:        #e1e4e8 !default;
$gray-600:        #d1d5da !default;
$gray-500:        #959da5 !default;
$gray-400:        #6a737d !default;
$gray-300:        #586069 !default;
$gray-200:        #444d56 !default;
$gray-100:        #2f363d !default;
$gray-000:        #24292e !default; // body font color

// -------- Blue --------
$blue-900:        #f1f8ff !default;
$blue-800:        #dbedff !default;
$blue-700:        #c8e1ff !default;
$blue-600:        #79b8ff !default;
$blue-500:        #2188ff !default;
$blue-400:        #0366d6 !default; // Default: Passes AA with #fff
$blue-300:        #005cc5 !default;
$blue-200:        #044289 !default;
$blue-100:        #032f62 !default;
$blue-000:        #05264c !default; // Passes with 1/2/300 blues

// -------- Green --------
$green-900:       #f0fff4 !default;
$green-800:       #dcffe4 !default;
$green-700:       #bef5cb !default;
$green-600:       #85e89d !default;
$green-500:       #34d058 !default;
$green-400:       #28a745 !default; // Default. passes AA Large
$green-300:       #22863a !default; // Text green, passes AA on #fff
$green-200:       #176f2c !default;
$green-100:       #165c26 !default;
$green-000:       #144620 !default;

// -------- Yellow --------
$yellow-900:      #fffdef !default;
$yellow-800:      #fffbdd !default;
$yellow-700:      #fff5b1 !default;
$yellow-600:      #ffea7f !default;
$yellow-500:      #ffdf5d !default;
$yellow-400:      #ffd33d !default;
$yellow-300:      #f9c513 !default;
$yellow-200:      #dbab09 !default;
$yellow-100:      #b08800 !default;
$yellow-000:      #735c0f !default;

// -------- Orange --------
$orange-900:      #fff8f2 !default;
$orange-800:      #ffebda !default;
$orange-700:      #ffd1ac !default;
$orange-600:      #ffab70 !default;
$orange-500:      #fb8532 !default;
$orange-400:      #f66a0a !default; // Default. passes AA Large with #fff
$orange-300:      #e36209 !default;
$orange-200:      #d15704 !default;
$orange-100:      #c24e00 !default;
$orange-000:      #a04100 !default;

// -------- Red --------
$red-900:         #ffeef0 !default;
$red-800:         #ffdce0 !default;
$red-700:         #fdaeb7 !default;
$red-600:         #f97583 !default;
$red-500:         #ea4a5a !default;
$red-400:         #d73a49 !default; // Default. passes AA
$red-300:         #cb2431 !default;
$red-200:         #b31d28 !default;
$red-100:         #9e1c23 !default;
$red-000:         #86181d !default;

// -------- Purple --------
$purple-900:      #f5f0ff !default;
$purple-800:      #e6dcfd !default;
$purple-700:      #d1bcf9 !default;
$purple-600:      #b392f0 !default;
$purple-500:      #8a63d2 !default;
$purple-400:      #6f42c1 !default; // passes AA with #fff
$purple-300:      #5a32a3 !default;
$purple-200:      #4c2889 !default;
$purple-100:      #3a1d6e !default;
$purple-000:      #29134e !default;

// -------- Fades --------
// Black based on same hue as $gray-900
$white: #1b1f23 !default;
$black: #fff !default;

$black-fade-15:      rgba($black, 0.15) !default;
$black-fade-30:      rgba($black, 0.3) !default;
$black-fade-50:      rgba($black, 0.5) !default;
$black-fade-70:      rgba($black, 0.7) !default;
$black-fade-85:      rgba($black, 0.85) !default;

$white-fade-15:      rgba($white, 0.15) !default;
$white-fade-30:      rgba($white, 0.3) !default;
$white-fade-50:      rgba($white, 0.5) !default;
$white-fade-70:      rgba($white, 0.7) !default;
$white-fade-85:      rgba($white, 0.85) !default;

// -------- Color defaults --------
$red:         $red-500 !default;
$purple:      $purple-500 !default;
$blue:        $blue-500 !default;
$green:       $green-500 !default;
$yellow:      $yellow-500 !default;
$orange:      $orange-500 !default;

$gray-dark:   $gray-900 !default;
$gray-light:  $gray-400 !default;
$gray:        $gray-500 !default;
